.level {
    text-align: center;
    font-size: 1.8em;
    margin-top: 10px;
    color: #333;
}

.level-highlight {
    font-size: 2.5em;
    font-weight: bold;
    color: #ff5722; /* Auffällige Farbe wie Orange */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Schatten für mehr Tiefe */
    padding: 5px;
    border: 2px solid #ff5722;
    border-radius: 5px;
    background-color: rgba(255, 87, 34, 0.1); /* Transparenter Hintergrund */
}
