<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aufgabentraining</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <header>
        <h1>Aufgabentraining</h1>
        <div class="score">
            Punktzahl: {{ session.get('total_score', 0) }}
        </div>
        <div class="level">
            Aktuelles Level: {{ session.get('current_state', [1])[0] }}
        </div>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
